<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FreeScoreBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Anzeige.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="FSBDB6" providerName="System.Data.SqlClient" connectionString="data source=(LocalDB)\v11.0;                               attachdbfilename=C:\ProgramData\FreeScoreBoard\FreeScoreBoardDB6.mdf;                               Initial Catalog=FSBDB6;                               Integrated Security=True;" />-->
  
    <add name="fsbDB1" connectionString="metadata=res://*/FsbDB.csdl|res://*/FsbDB.ssdl|res://*/FsbDB.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\ProgramData\FreeScoreBoard7\FreeScoreBoard.sqlite&quot;" providerName="System.Data.EntityClient" />
    <add name="fsbDB" connectionString="data source=C:\ProgramData\FreeScoreBoard7\FreeScoreBoard.sqlite" providerName="System.Data.SQLite.EF6" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--add key="modus" value=""/-->
    <add key="modus" value="debug" />
    <!--add key="modus" value="debugt"/-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <FreeScoreBoard.Properties.Settings>
      <setting name="frmSize" serializeAs="String">
        <value>895, 700</value>
      </setting>
      <setting name="frmLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="MannSort" serializeAs="String">
        <value>ID</value>
      </setting>
      <setting name="DisplayFullscreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayMonitor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DisplaySize" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="DisplayLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PageSet" serializeAs="String">
        <value>Set1</value>
      </setting>
    </FreeScoreBoard.Properties.Settings>
    <Anzeige.Properties.Settings>
      <setting name="frmSize" serializeAs="String">
        <value>895, 700</value>
      </setting>
      <setting name="frmLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="MannSort" serializeAs="String">
        <value>ID</value>
      </setting>
      <setting name="DisplayFullscreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayMonitor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DisplaySize" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="DisplayLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Anzeige.Properties.Settings>
  </userSettings>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>
