table.ZeilenGruen {
    border: 0vh;
    width: 100%;
    text-align: left;
    border-collapse: seperate;
    border-spacing: 0 1vh;
    margin: 03vh;
}

table.ZeilenGruen td,
table.ZeilenGruen th {
    border: 0.1vh solid #000000;
    padding: 0.3vh 0.3vh;
}

table.ZeilenGruen th {
    border-color: #000000;
    font-weight: bold;
    border-left: 0.1vh solid #000000;
    background: #21A428;
    color: #FFFFFF;
}

table.ZeilenGruen td {
    background: #CEF5C5;
}

table.ZeilenGruen tr:nth-child(even) {
}

table.ZeilenGruen th:first-child {
    border-left-style: solid #000000;
    border-top-left-radius: 1vh; 
    border-bottom-left-radius: 1vh;
}

table.ZeilenGruen th:last-child {
    border-right-style: solid #000000;
    border-bottom-right-radius: 1vh; 
    border-top-right-radius: 1vh; 
}

table.ZeilenGruen td:first-child {
    border-left-style: solid #000000;
    border-top-left-radius: 1vh; 
    border-bottom-left-radius: 1vh;
}

table.ZeilenGruen td:last-child {
    border-right-style: solid #000000;
    border-bottom-right-radius: 1vh; 
    border-top-right-radius: 1vh; 
}